@(error_string: String, ajax_CLIENT_IP : String)
<html>
<head>
    <title>Impact Path Flow 1.0</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>
    @*<link rel="icon" href="@routes.Assets.at("images/tab_icon.png")">*@
 
</head>
<body>
<h2>@error_string</h2>

<script type="text/javascript">

        $(document).ready(function() {
            var CLIENT_IP='@ajax_CLIENT_IP';
            var myURL='/ajax/'+CLIENT_IP+'/terminateClient';
            $.ajax({
                url: myURL,
                async: false
            });
        });
</script>

</body>
</html>