@(file_name: String,file_path: String,fileContents: ArrayList[String])
@import scala.Predef; var lineNum= 1;
<html>
<head>
  <title>Impact Path Flow 1.0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/vendor.css")">
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/flat-admin.css")">

  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/theme/blue-sky.css")">
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/theme/blue.css")">
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/theme/red.css")">
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/theme/yellow.css")">
  <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/graph-creator.css")">
  
  
</head>
<body>
<div class="app app-default">

<div class="simplio-example __modal">
      <div class="modal in">
        <div class="modal-dialog" style="margin:0; padding-left:0; text-align: left;">
          <div class="modal-content">
            <div class="modal-header">
              
              <h4 class="modal-title"><b>File Name:</b> @file_name</h4>
			<pre><h4 class="modal-title"><b>File Path  :</b> @file_path</h4></pre>
            </div>
            <div class="modal-body" >
			<div class="col-xs-12">
			  <div style="text-align:left">
			  
			@for(line <- fileContents){
			<div class="row">
			  <div class="col-md-1 col-sm-1 col-fileContents">
			  @lineNum
			  </div>
			  
			  <div class="col-md-11 col-sm-11 col-fileContents">
			  @if(line==null){line=" "}
			  <pre class="tab">@line</pre>
			  </div>
			  </div>
               
			  @(lineNum+=1)
			  }
			  </div>
			  </div>
            </div>
            <div class="modal-footer">
               
        
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</body>