@(CLIENT_IP: String)
<html>
    <head>
        <title>Impact Path Flow 1.0</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/flat-admin.css")">
    </head>
    <body style="min-height: 0;
        background-color: white" onload="init()">
        <div>Client: @CLIENT_IP</div>
        <div class="initFront">
            <div style="text-align: center;"><b style="font-size: 55px;">Impact Path Flow</b></div>
        </div>
        <div class="loader"></div>
        <div id="percent_loaded" style="text-align: center;margin-top: 3%;"></div>

        <script>

                var CLIENT_IP = '@CLIENT_IP';
                function init() {

                    var myURL = '/ajax/' + CLIENT_IP + '/indexLoading';
                    $.ajax({

                        url: myURL,
                        async: true,
                        success: function (data) {
                                console.log("data: "+data);
                        }

                    });

                    myURL = '/ajax/' + CLIENT_IP + '/indexLoaded';
                    $.ajax({

                        url: myURL,
                        async: true,
                        success: function (data) {
                            var call = setInterval(function () {
                                getProgDirTraversed(call)
                            }, 100);

                        }

                    });

                }


                function getProgDirTraversed(call) {

                    var percent = 0;
                    var myURL = '/ajax/'+CLIENT_IP+'/indexLoaded';
                    $.ajax({

                        url: myURL,
                        async: true,
                        success: function (data) {

                            percent = Number(data);
                            console.log("percent: "+percent);
                            document.getElementById('percent_loaded').innerText=percent+"%";
                             if(percent>=100)
                              {

                              	clearInterval(call);
                              	console.log("done");
                              	window.location.href = "/ajax/"+CLIENT_IP+"/mainSearch/1/a/a"
                              }

                        }

                    });


                }


        </script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/vendor.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>

    </body>

</html>